.nav {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 8px 10px;

	border-radius: 100px;
	padding: 10px;

	height: 68px;

	background: var(--text-default);
}


.nav-link {
	flex-shrink: 0;

	padding: 16px;

	font-family: var(--font-family);
	font-weight: 600;
	font-size: 16px;
	line-height: 100%;

	color: var(--text-inverse);
}


.nav-link.active,
.nav-link:hover {
	border-radius: 100px;
	background: #dddddd;
}


.nav-link.primary {
	border-radius: 100px;
	background: #111;
	color: #fff;
}


/* MOBILE */

@media (max-width: 600px) {

	.nav {
		flex-direction: row;
		flex-wrap: nowrap;

		height: auto;
		width: auto;

		padding: 6px;
		gap: 4px;

		border-radius: 100px;
	}


	.nav-link {
		width: auto;

		padding: 10px 8px;

		font-size: 13px;

		white-space: nowrap;
	}

}


/* маленькие телефоны */

@media (max-width: 450px) {

	.nav-link {
		padding: 9px 6px;
		font-size: 12px;
	}

}